<template>
  <div class="comments">
    <h3 class="comments__title">Comments</h3>
    <div class="comments__list">
      <template v-for="com in comments">
        <div :key="com.id" class="comments__item">{{ com.body }}</div>
      </template>
    </div>
  </div>
</template>

<script>

export default {
  name: "CommentsList",
  props: {
    comments: Array,
  }
};
</script>

<style lang="scss">
.comments__title {
  margin-top: 16px;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  color: #666666;
}

.comments__item {
  font-size: 13px;
  line-height: 150%;
  margin-top: 14px;
  padding-bottom: 32px;
  position: relative;
  color: white;

  &:not(:last-child):after {
    content: '';
    width: 100%;
    height: 1px;
    background: #272727;
    position: absolute;
    bottom: 7px;
    left: 0;
  }
}

</style>