<template>
  <div class="logo">
    <img src="../assets/logo.svg" alt=""/>
  </div>
</template>

<script>

export default {
  name: "Logo",
};
</script>

<style lang="scss">
.logo {
  img {
    display: block;
    margin: 32px auto 85px;

    @media (max-width: 600px) {
      & {
        margin: 9px auto 5px;
      }
    }
  }
}


</style>