<template>
  <div class="main">
    <div class="main__container">
      <div class="main__left-bar">
        <Logo/>
        <UserList
            :users-list="usersList"
            v-model="selectedUser"
        />
      </div>
      <div class="main__content">
        <Search v-model="searchStr"/>
        <MainContent
            :posts-list="filteredPostsList"
            :comments="comments"
        />
      </div>
    </div>
  </div>
</template>

<script>
import api from '../api';

import UserList from './UserList';
import MainContent from './MainContent';
import Logo from './Logo';
import Search from './Search';


export default {
  name: "MainPage",
  components: {
    UserList,
    MainContent,
    Logo,
    Search,
  },
  data: function () {
    return {
      postsList: [],
      usersList: [],
      selectedUser: null,
      searchStr: '',
      comments: [],
    }
  },
  methods: {
    getPosts() {
      this.getData('getAllPosts', 'postsList');
    },
    getUsers() {
      this.getData('getUsersList', 'usersList');
    },
    getComments() {
      this.getData('getComments', 'comments');
    },
    async getData(apiName, stateName) {
      try {
        const res = await api[apiName]()
        this[stateName] = res.data;
      } catch (error) {
        console.error(error);
      }
    },
  },
  computed: {
    filteredPostsList() {
      const {selectedUser, searchStr} = this;
      return this.postsList.filter(el => {

        const isContains = (text, str) => {
          if (str === '') return true
          return text.toLowerCase().includes(str.toLowerCase())
        };

        if (selectedUser) {
          return el.userId === selectedUser && isContains(el.title, searchStr)
        } else {
          return isContains(el.title, searchStr)
        }
      })
    }
  },
  created() {
    this.getComments();
    this.getPosts();
    this.getUsers();
  }
};
</script>

<style lang="scss">
.main__container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;

  @media (max-width: 600px) {
    & {
      flex-direction: column;
    }
  }
}

.main__left-bar {
  flex: 0 0 244px;
  background: #21523D;
}

.main__content {
  flex: 1 1 100%;
  background: #272727;
  padding: 25px 24px;
}
</style>
