<template>
  <div class="content">
    <h3 class="content__title">Today</h3>
    <div class="content__posts-list">
      <template
          v-for="post in postsList"
      >
        <Post
            :key="post.id"
            :post="post"
            :post-comments="postComments(post.id)"
            @open-modal="handlerOpenModal"
        />
      </template>
    </div>
    <Modal
        v-model="isModalOpen"
        title="Add comment"
    >
      <div class="post__modal-content">
        <textarea v-model="comment"></textarea>
        <button @click="addComment">Add comment</button>
      </div>
    </Modal>
  </div>
</template>

<script>

import api from '../api'

import Post from './Post'
import Modal from './Modal'

export default {
  name: "MainContent",
  components: {Post, Modal},
  props: {
    postsList: Array,
    comments: Array,
  },
  data: function () {
    return {
      isModalOpen: false,
      comment: '',
      isLoading: false,
      selectedPostId: null,
    }
  },
  methods: {
    postComments(postId) {
      return this.comments.filter(el => el.postId === postId)
    },
    handlerOpenModal(postId) {
      this.selectedPostId = postId;
      this.isModalOpen = true;
    },
    async addComment() {
      const {selectedPostId, comment} = this;
      try {
        this.isLoading = true;
        const res = await api.saveComment(selectedPostId, comment);
        console.log(res.data); // TODO add res to list
        this.resetCommentModal();
        this.isLoading = false;
      } catch (error) {
        console.error(error);
        this.isLoading = false;
      }
    },
    resetCommentModal() {
      this.isModalOpen = false;
      this.comment = '';
    }
  }

};
</script>

<style lang="scss">
.content__title {
  margin: 36px 0 26px 0;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.content__posts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
</style>