<template>
  <div
      v-if="value"
      class="modal"
      @click="handlerClose"
  >
    <div class="modal__window">
      <div class="modal__head">
        {{ title }}
        <div class="modal__close">
          <img
              src="../assets/close.svg"
              alt="close"
              @click="$emit('click', false)"
          />
        </div>
      </div>
      <slot></slot>
    </div>
  </div>
</template>

<script>

export default {
  name: "Modal",
  model: {
    prop: 'value',
    event: 'click'
  },
  props: {
    title: String,
    value: Boolean,
  },
  methods: {
    handlerClose({target, currentTarget}) {
      if (target === currentTarget) {
        this.$emit('click', false)
      }
    }
  }
};
</script>

<style lang="scss">
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  z-index: 9;
}

.modal__window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #FBFBFC;
  border-radius: 5px;
  padding: 35px 40px 40px;
  width: 400px;

  @media (max-width: 600px) {
    & {
      width: calc(100% - 20px);
      padding: 15px;
    }
  }
}

.modal__head {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  line-height: 23px;
  color: #212121;
  margin-bottom: 30px;
}

.modal__close {
  display: flex;
  align-items: flex-start;

  img {
    cursor: pointer;
  }
}
</style>