<template>
  <div class="post">
    <div class="post__content">
      <div class="post__title">{{ post.title }}</div>
      <div class="post__body">{{ post.body }}</div>
      <div class="post__comments">
        <img src="../assets/comment.svg" alt="">
        <span>{{ postComments.length }}</span>
        <div class="post__comments-list">
          <CommentsList :comments="postComments"/>
          <div class="post__add-comment">
            <button
                @click="$emit('open-modal', post.id)"
                class="post__open-modal"
            >Add comment
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import CommentsList from './CommentsList'

export default {
  name: "Post",
  components: {CommentsList},
  props: {
    post: Object,
    postComments: Array,
  }
};
</script>

<style lang="scss">
.post {
  flex: 0 1 50%;
  padding: 10px;

  @media (max-width: 960px) {
    & {
      flex: 1 1 100%;
    }
  }

  &:hover .post__comments-list {
    display: block;
  }

  &:hover {
    transform: scale(1.01);
    z-index: 1;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
}

.post__content {
  padding: 20px;
  background: #2F2F2F;
  height: 100%;
  position: relative;
}

.post__title {
  font-weight: bold;
  font-size: 22px;
  line-height: 150%;

  &::first-letter {
    text-transform: uppercase;
  }
}

.post__body {
  font-size: 13px;
  line-height: 150%;
  margin-top: 15px;

  &::first-letter {
    text-transform: uppercase;
  }
}

.post__comments {
  color: #666666;
  margin-top: 17px;
  font-size: 13px;
  display: flex;
  align-items: center;
  position: relative;

  & span {
    margin-left: 5px;
  }
}

.post__comments-list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 20px;
  background: #2F2F2F;
  margin-left: -20px;
  width: calc(100% + 40px);
  z-index: 1;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.post__open-modal {
  background: #2D2D2D;
  border: 1px solid #545454;
  border-radius: 3px;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-transform: uppercase;
  color: #666666;
  width: 100%;
  padding: 9px;
  cursor: pointer;

  &:hover {
    background: #545454;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    color: white;
  }

  &:active, &:focus {
    outline: none;
  }
}

.post__modal-content {
  display: flex;
  flex-direction: column;

  & textarea {
    border: 1px solid #E3E3E3;
    box-sizing: border-box;
    border-radius: 3px;
    height: 124px;

    &:active, &:focus {
      outline: none;
    }
  }

  & button {
    margin-top: 20px;
    background: #21523D;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    line-height: 17px;
    padding: 9px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
      background: #2b6b4e;
    }

    &:active, &:focus {
      outline: none;
    }
  }
}
</style>