<template>
  <div class="search">
    <img src='../assets/search.svg' alt='' class='search__icon'>
    <input
        class="search__input"
        :value='value'
        @input="$emit('input', $event.target.value)"
    />
  </div>
</template>

<script>

export default {
  name: "Search",
  model: {
    prop: 'value',
    event: 'input'
  },
  props: {
    value: String,
  }

};
</script>

<style lang="scss">
.search {
  position: relative;
  margin: 0 118px 0 0;

  @media (max-width: 600px) {
    & {
      margin: 0;
    }
  }
}

.search__icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

.search__input {
  width: 100%;
  height: 40px;
  background: #2D2D2D;
  border-radius: 20px;
  padding: 9px 48px;
  color: white;
  border: none;

  &:focus, &:active {
    outline: none;
  }
}
</style>