<template>
  <div class="user_list">
    <ul>
      <li
          class="user_list__item"
          :class="{'user_list__item--selected': isActive(user.id)}"
          v-for="user in usersList"
          :key="user.id"
          @click="$emit('click', user.id)"
      >
        <div class="user_list__photo">
          <img src="../assets/logo.svg" alt=""/>
        </div>
        <span class="user_list__name">{{ user.name }}</span>
      </li>
      <li
          class="user_list__item"
          :class="{'user_list__item--selected': isActive(null)}"
          @click="$emit('click', null)"
      >
        <div class="user_list__photo">
          <img src="../assets/logo.svg" alt=""/>
        </div>
        <span class="user_list__name">All subscriptions</span>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: "UserList",
  model: {
    prop: 'selectedUser',
    event: 'click'
  },
  props: {
    usersList: Array,
    selectedUser: Number,
  },
  methods: {
    isActive(id) {
      if (id) {
        return id === this.selectedUser
      } else {
        return this.selectedUser === null
      }
    }
  }
};
</script>

<style lang="scss">
.user_list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.user_list__item {
  cursor: pointer;
  display: flex;
  align-items: center;

  &--selected, &:hover {
    background: #225740;
  }

  &--selected {
    position: relative;
  }

  &--selected:before {
    content: '';
    width: 4px;
    height: 100%;
    background: #26CF88;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.user_list__photo {
  margin: 9px 0 9px 30px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #505050;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  img {
    width: 14px;
  }
}

.user_list__name {
  margin: 0 11px;
  font-size: 14px;
}
</style>