<template>
  <MainPage/>
</template>

<script>
import MainPage from "./components/MainPage.vue";

export default {
  name: "App",
  components: {
    MainPage
  }
};
</script>

<style lang="scss">
@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto/Roboto-Regular.ttf');
}

body {
  margin: 0;
  color: white;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}
</style>